- provide(:title, @user.name)
.row
  %aside.span4
    %section
      %h1
        = gravatar_for @user
        = @user.name
  .span8
    - if @user.albums.any?
      %h3= "Albums (#{@user.albums.count})"
      %ol.albums
        = render @albums
      = will_paginate @albums
